*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .main{
    background: url('pexel.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
background-size:cover;
  flex-direction: column;
    
    
  }
  #playButton{
    padding: 10px 20px;
    background: transparent ;

    color: rgb(99, 181, 253);
    font-weight:bold;
      margin: 20px 50px;
    border-radius:5px 20px 5px 20px;
    border: 1px solid rgb(95, 168, 240);
    outline: none;
   
  }
  p{
    position: absolute;
    top: 40%;
    font-weight: 500;
  }
  button:hover{
    cursor: pointer;
  }
  video{
    transform: rotate(-90deg);

    height:auto;
    width:500px;

  }
#para{
    display: none;
}
